*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-rows: 12% 86%;
    row-gap: 2%;
}
header h1{
    width: 750px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
}
.timeline{
    display: grid;
    grid-template-rows: 33% 33% 33% ;
}

.timelineItem{
    display: grid;
    grid-template-columns: 70px 21.5% 71%;
    column-gap: 40px;
    align-items:center;
    position: relative;
}

.itemNumber{
    position: relative;
    height:100%;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;
}
.itemNumber::after{
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    background-color: lightgrey;
    right: -18%;
}
.itemNumber::before{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: orange;
    right: -25%;
    z-index: 1;
    border-radius: 10px;
}
.itemCard{
    height: 80%;
    border-radius: 10px;
    box-shadow: 8px 6px 13px 4px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cardContent{
    padding: 0 30px;
    padding-left: 80px;
    position: relative;
}
.cardContent::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(243, 111, 111);
    left: 30px;
}
.cardContent--2::before{
    background-color: rgb(106, 241, 136);
}
.cardContent--3::before{
    background-color: rgb(100, 182, 230);
}
.cardContent h2{
    font-size: 1.5rem;
}
.characterContainer{
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
    column-gap: 2%;
}
.characterContent{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
}
.characterPng{
    align-self: center;
}
.characterPng img{
    height: 150px;
}
.characterBubble{
    background-color: rgb(222, 223, 223);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.9rem;
}
.characterBubble::after{
    content: '';
    position: absolute;  
    top: 74px;
    border-width: 10px;
    border-style: solid;
    border-color:transparent rgb(222, 223, 223) transparent transparent ;
    transform: rotate(130deg);
}
.characterName{
    font-weight: 500;
}
.characterData{
    font-size: 0.8rem;
}